// 公共变量
@textColor: rgba(0, 0, 0, 0.45);
@borderStyle: 1px dashed rgb(212, 212, 212);
@tableHoverColor: #bdc4ca;
@componentMarginBottom: 15px;

.myTabs {
  background-color: #fff;
  margin-bottom: @componentMarginBottom;
  :global(.ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list:first-child) {
    margin-left: 32px;
  }
  .stat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    :global(.ant-statistic-title) {
      font-size: 20px;
      color: @textColor;
    }
    :global(.ant-statistic-content) {
      font-size: 28px;
      font-weight: 500;
    }
  }
  .charts_title {
    display: block;
    margin: 0;
    margin-left: 32px;
    font-size: 16px;
    color: @textColor;
  }
  .compare_charts {
    padding-bottom: @componentMarginBottom;
    margin-bottom: @componentMarginBottom;
    border-bottom: @borderStyle;
  }
  .bin_charts {
    border-right: @borderStyle;
  }
  .zhu_charts {
    padding: 5px 10px;
  }
  .bin_charts,
  .zhu_charts {
    margin-bottom: @componentMarginBottom;
  }
}
.pt {
  :global(.ant-card .ant-card-body) {
    padding-bottom: 16px !important;
    margin-bottom: @componentMarginBottom;
  }
  :global(.ant-card
      .ant-card-body
      .ant-table-wrapper
      .ant-spin-nested-loading
      .ant-spin-container
      .ant-table
      .ant-table-container
      .ant-table-tbody
      tr:nth-child(-n + 6)
      .ant-table-cell:first-child)
    > div {
    background-color: #314659;
  }
  :global(.ant-card
      .ant-card-body
      .ant-table-wrapper
      .ant-spin-nested-loading
      .ant-spin-container
      .ant-table
      .ant-table-container
      .ant-table-tbody
      > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
      > td) {
    background-color: @tableHoverColor;
  }
  :global(.ant-card
      .ant-card-body
      .ant-pro-table-list-toolbar
      .ant-pro-table-list-toolbar-container) {
    padding: 0;
  }
}
