@import '~antd/lib/style/themes/default.less';

// .pre {
//   margin: 12px 0;
//   padding: 12px 20px;
//   background: @input-bg;
//   box-shadow: @card-shadow;
// }

:global(.ant-card-head) {
  border-bottom: none;
}

.homeTopWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .img {
    width: 100%;
  }
  :global(.ant-card) {
    text-align: center;
    margin-bottom: 10px;
  }
  .homeTopLeft {
    width: 30%;
    margin-right: 15px;
    :global(.ant-card) {
      border: none;
      border-radius: 0;
    }
  }

  .homeTopMid {
    flex: 1;
    .listText {
      border: none;
      margin-top: 5px;
    }
  }

  .homeTopRight {
    width: 27%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    .carouselItem > img {
      display: block;
      width: 100%;
      height: 200px;
      line-height: 200px;
      text-align: center;
    }
    :global(.ant-statistic-content) {
      font-size: 18px;
    }
    .myText {
      font-size: 14px;
      font-weight: 350;
      color: rgba(0, 0, 0, 0.35);
    }
    .listText {
      height: 250px;
      background-color: #fff;
      border: none;
      border-radius: 0;
      overflow: hidden;
    }
    .parent {
      width: 100%;
      height: 35vh;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .parent::-webkit-scrollbar {
      display: none;
    }
    /*设置的子盒子高度大于父盒子，产生溢出效果*/
    .child {
      height: auto;
    }
    .child li {
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 2px 0;
      list-style: none;
      background: #fff;
    }
  }
}
