@import '~antd/lib/style/themes/default.less';

// .pre {
//   margin: 12px 0;
//   padding: 12px 20px;
//   background: @input-bg;
//   box-shadow: @card-shadow;
// }

:global(.ant-card-head) {
  border-bottom: none;
}

.homeTopWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid #333;
  display: flex;
  flex-direction: row;
  :global(.ant-card) {
    text-align: center;
    margin-bottom: 10px;
  }
  .homeTopLeft {
    width: 30%;
    margin-right: 15px;
    :global(.ant-card) {
      border: none;
      border-radius: 0;
    }
  }

  .homeTopMid {
    flex: 1;
  }

  .homeTopRight {
    width: 27%;
    margin-left: 15px;
    .carouselItem > img {
      display: block;
      width: 100%;
      height: 200px;
      line-height: 200px;
      text-align: center;
    }
  }
}