@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

:global(.ant-card-head) {
  border-bottom: none;
}

.cardImg {
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto;
}