.Wrapper {
    background-color: #fff;
    .leftPart p{
        display: block;
        width: 100%;
        text-align: center;
        span {
            font-size: 15px;
        }
    }
    .Events {
        list-style: none;
        margin: 0;
        padding: 0;
        :global(.ant-badge-status) {
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            font-size: 12px;
        }
    }
    .notes-month {
        text-align: center;
        font-size: 28px;
    }
    .notes-month section {
        font-size: 28px;
    }
}



